
.tool-enabled {
	color: hsl(204, 86%, 53%) !important;
}
.tool-disabled {
	color: inherit !important;
}

#facsimile-pagination-control {
	margin: 0;
	overflow: scroll;
	overflow-y: hidden;
	width: 100%;
}
.facsimile-pagination {
	margin: 0.5em 0 1em 0;
	min-width: 100%;
	position: relative;
	text-align: center;
	white-space: nowrap;
	width: max-content;
	.iiif-thumbnail {
		display: inline-block;
		height: 80px;
		margin: 0 0.5em;
		position: relative;
		img {
			max-height: 100%;
			max-width: none;
			width: auto;
		}
		color: white;
	}
    .selected-page {
      border: 3px white solid;
      font-weight: bold;
      font-size: medium;
    }
	&:first-child {
		margin-left: 1em;
	}
	&:last-child {
		margin-right: 1em;
	}
}
.leaflet-control-attribution {
	display: none;
}
.leaflet-left.leaflet-bottom {
	background-color: rgba(5, 5, 5 , 0.3);
	width: 100%;
}
.leaflet-tooltip.facsimileToolTip {
	top: 32px;

    /* white-space: normal; */
	letter-spacing: 0.2px;
    color:    #FFDD00;
    font-size: 1.7em;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow:
        0.05em 0 0.08em #1d1d1d,
        0 0.05em  0.08em #1d1d1d,
        -0.05em 0  0.08em #1d1d1d,
        0 -0.05em  0.08em #1d1d1d,
        -0.05em -0.05em  0.08em #1d1d1d,
        -0.05em 0.05em  0.08em #1d1d1d,
        0.05em -0.05em 0.08em  #1d1d1d,
        0.05em 0.05em  0.08em #1d1d1d;

	border: none;
	box-shadow: none;
	background: none;

    ex {
        color: #c4b7a6;
    }
}
.leaflet-tooltip-left.facsimileToolTip::before {
	border-left-color: transparent;
}
.leaflet-tooltip-right.facsimileToolTip::before {
	border-right-color: transparent;
}
